@model IEnumerable<TrabajoSeed.Models.ProgramasPresupuestarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Programas Presupuestarios</h1>

<p>
    <a asp-action="Subir">Subir Programa Presupuestario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgramasPresupuestariosId">Editar</a> |
                <a asp-action="Eliminar" asp-route-id="@item.Documentos">Eliminar</a>
                <a asp-action="Descargar" asp-route-id="@item.Documentos">Descargar</a>
            </td>
        </tr>
}
    </tbody>
</table>
